/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* COMMON */

body {
    font-family: 'PT sans';

}

.conteiner {
    width: 100%;
    align-items: center;

}
img {
    max-width: 100%
}

/* UTILITIES */

.flex {
    display: flex;
    
}

.spacebetween {
    justify-content: space-between;
}

.col-direction {
    flex-direction: column;
}

.text-center{
    text-align: center;
}



.btn-white{
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px;
}

.btn-blu{
    border-radius: 20px;
    padding: 10px;
    background-color: #3982F5;
}

/* HEADER */

header {
    background-color: #3982F5;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-bottom: 50px;
    min-height: 30px;
    align-items: center;

}

.burger-menu i {
    color: white;

}

.link-list {
    display: none;
}

.link-list ul {
    list-style-type: none;
    gap: 15px;
}

.link-list a {
    text-decoration: none;
    color: white;
}

.btn a {
    color: black;
}
 
@media screen and (min-width:992px) {
    .link-list {
        display: inline-block;

    }

    .burger-menu {
        display: none;

    }
    
}

/* MAIN */

/* DEMO-SECTION */

.demo-container {
    width: 100%;
    margin-top: 150px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.cards {
    width: 60%;
    background-color: #BDDCFC;
    border-radius: 10px;
    margin-bottom: 10px;

}

.cards h2{
    color: #3982F5;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    
}

.cards p {
    font-size: .8rem;
    padding: 15px;
    text-align: justify;
    margin-bottom: 20px;
    color: lightslategrey;
}

.cards a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 0 180px 0 20px;
}

.cards img {
    margin-top: 20px;
    max-width: 100%;
    display: block;
}

h2 i {
    font-size: 1.5rem;
}

@media screen and (min-width:768px) {

    .demo-container{
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        align-items: normal;

        
        /* debug */
        margin-left: 10%;
    }
    
    .cards:first-child {
        width: 66%;
    
    }

    .cards {
        width: 32%;
    }

    .cards img {
        max-width: 70%;
    }
}


/* STRATEGIC-SECTION */

.strategic-conteiner{
    background-color: #9593e6;
    padding: 5px;
    
}

.strategic-conteiner img {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.strategic-conteiner h2 {
    color: white;
    margin: 0 60px 10px 30px;
    padding: 10px;
    
}

.strategic-conteiner p {
    color:white ;
    padding: 10px;
    margin: 0 60px 10px 30px;
    text-align: justify;
}

.strategic-card {
    margin-left: 15%;
    width: 60%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

.strategic-card h2 {
    color: black;
    font-size: 1.2rem;
    text-align: center;
}

.strategic-card p {
    color: black;
    text-align: center;
}

.strategic-card i{
    margin-top: 20px;
    border-radius: 50%;
    background-color: #9593e6;
    padding: 15px;
}

@media screen and (min-width:768px) {

    .strategic-card {
        width: 90%;
        margin-left: 5%;
    }

    .strategic-conteiner img {
        width: 70%;
        margin-left: 10%;
    }
    
}

@media screen and (min-width: 992px) {

    .strategic-conteiner {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        

    }

    .strategic-box {
        width: 50%;
        margin: 10% 0 10% 10%;

    }

    .strategic-card {
        width: 50%;
        margin: 10% 10% 10% 0;
    }



}


/* TESTIMONIALS-SECTION */

.testimonial-container {
    text-align: center;
    margin-top: 20px;
    width: 100%
}

.testimonial-container span {
    font-size: .8rem;
    margin-bottom: 20px;
}

.testimonial-container h2 {
    color: #9593e6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonial-card {
    width: 50%;
    background-color: #9593e6;
    margin: 10% 0 0 25%;
    margin-top: 10px;
    border-radius: 20px;

}

.testimonial-card img {
    margin-top: 20px;
    max-width: 60%;
    border-radius: 50%;
    margin-bottom: 10px;


}

.testimonial-card p {
    width: 50%;
    margin-left: 25%;
    font-size: .8rem;
    color: white;
    margin-bottom: 20px;
}

.testimonial-card span {
    color: white;
}

@media screen and (min-width:768px) {

    .testimonial-card {
        display: flex;
        justify-content: center;
        width: 70%;
        margin-left: 15%;
    }

    .testimonial-card img {
        max-width: 45%;
        margin-left: 5px;
    }

    .testimonial-card p {
        width: 100%;
        margin-left: 0;
        padding: 10px;
        margin-top: 30px;

    }
}

@media screen and (min-width:992px) {
    .testimonial-card{
        width: 50%;
        margin-left: 25%;
        text-align: left;
    }

    .card span {
        margin-left: 10px
    }
    
}

/* WITH-US SECTION */

.us-container {
    background-color: #9593e6;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;

}

.title {
    text-align: center;
    color: white;
    padding: 25px;
    width: 50%;
    margin-left: 25%;
    font-size: 1.4rem;
    
}

.us-card {
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 25%;
}

.us-card h2 {
    color: #9593e6;
    margin-bottom: 10px;
}

.btn-more {
    display: block;
    width: 50%;
    background-color: #9593e6;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}

@media screen and (min-width:768px) {

    .us-card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 90%;
      
    
    }

    .us-card {
        margin-left: 10%;
        width: 30%;
        padding: 0;
        padding: 10px;
    }

}

@media screen and (min-width:992px) {
    
    .us-card {
        width: 20%;
    }

    .us-card h2 {
        font-size: 1.3rem;
    }

}